/* COULEUR À SAUVEGARDER : FF655D */

html {
    scroll-behavior: smooth;
}

body{
    background-color: #151515;
    /* background-color: #21252B; */
    font-family: "Poppins", sans-serif;
    color:white;
}

nav {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.5rem;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(100px);
}

nav > a {
    text-decoration: none;
    color:white;
    margin-inline: 2rem;
}

nav > a:active{
    color: #70d8ff;
}

nav > a:hover{
    color: #70d8ff;
}

.autreAccueil {
    display: flex;
    justify-content: flex-start;
}

.presentation > img, .aPropos img {
    width:350px;
    object-fit: contain;
    /*width: 25%;*/
    border-radius: 10px;
    margin-right: 15rem;

}

.presentation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:5vb;
    height:90vb;
}

.aPropos {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 5em;
    margin-top:5vb;
    height:90vb;
}

.textePresentation {
    font-size: 2.5rem;
}

.texteAPropos {
    font-size: 1.5rem;
}

.texteAPropos > h1 {
    color: #70d8ff;
}

.texteBaptiste {
    color: #70d8ff;
}

.texteStyle {
    font-size: 1.2rem;
    text-align: center;
    padding: 0.5em;
    border-radius: 10px;
    background-color: rgba(38 38 38);
}

.projet{
    display: flex;
    flex-direction: column;
    margin-top: 20vb;
    height:100vb;
}

.projet > h1 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}
.projets {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem; /* Optional: Adds space between the cards */
}

.carteProjetDrop {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-image: url("img/bankdrop.png");
    background-size: cover;
}

.carteProjet, .carteProjetDrop {
    border: 2px solid white;
    border-radius: 20px;
    padding: 9em; /* Adjust padding as needed */
}

.carteProjetDrop .overlay {
    /* Positionner l'overlay pour couvrir l'ensemble de l'élément parent */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Couleur de fond sombre semi-transparente */
    background-color: rgba(0, 0, 0, 0.8);
    /* Couleur du texte en blanc */
    color: #fff;
    /* Centrer le contenu à l'intérieur de l'overlay */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Taille de police pour le texte de l'overlay */
    font-size: 1.5em;
    /* Masquer l'overlay initialement */
    opacity: 0;
    /* Transition en douceur pour le changement d'opacité */
    transition: opacity 0.3s ease;
    border-radius: 20px;
}

.carteProjetDrop:hover .overlay {
    /* Afficher l'overlay au survol */
    opacity: 1;
}

.entreprise{
    display: flex;
    flex-direction: column;
    margin-top: 10vb;
    height:100vb;
}

.texteEntreprise {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
    padding-top: 2em;
}

.listeEntreprise {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2em;
}

.kaluneLien{
    text-decoration: none;
    color:white;
    border : 2px solid white;
    padding-block: 6rem;
    padding-inline: 12rem;
    background-image: url(img/Logo-kalune.jpg);
    background-size: cover;
    border-radius: 20px;
}

.stageKalune {
    font-size: 1.5rem;
    padding-inline: 8rem;
    padding-block: 2rem;
}

.stageDune {
    text-decoration: none;
    color:white;
    border : 2px solid white;
    padding-block: 6rem;
    padding-inline: 12rem;
    background-image: url(img/dunelogo.jpg);
    background-size: cover;
    border-radius: 20px;
}

.kaluneTexte, .duneTexte{
    margin-top:15vb;
}

.kaluneTexte > h1, .duneTexte > h1 {
    font-size: 2rem;
    text-align: center;
}

.presentationKalune, .presentationDune {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 5em;
}

.groupano {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.groupano img {
    display: block;
    width: 500px;
    height: auto;
}

.groupano img:hover {
    animation: imageRotation 0.2s forwards;
}

@keyframes imageRotation {
    0%{
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.groupano .overlay {
    /* Positionner l'overlay pour couvrir l'ensemble de l'élément parent */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Couleur de fond sombre semi-transparente */
    background-color: rgba(0, 0, 0, 0.8);
    /* Couleur du texte en blanc */
    color: #fff;
    /* Centrer le contenu à l'intérieur de l'overlay */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Taille de police pour le texte de l'overlay */
    font-size: 1.5em;
    /* Masquer l'overlay initialement */
    opacity: 0;
    /* Transition en douceur pour le changement d'opacité */
    transition: opacity 0.3s ease;
}

.groupano:hover .overlay {
    /* Afficher l'overlay au survol */
    opacity: 1;
}

.texteVeille {
    font-size: 1.5rem;
}

.veille{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top:10vb;
    height:90vb;
}


.projetTexte {
    margin-top:15vb;
    font-size: 1.5rem;
    text-align: center;
}

.projetTexte img {
    width: 800px;
    height: auto;
    padding-bottom: 2em;
}

footer {
    background-color: #1b1b1b;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 1.5rem;
    font-size: 1.5rem;
    width: 100%;
}

